/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Poppins:wght@300;500;700&family=Prompt:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(174, 195, 0), rgb(107, 120, 0));
  font-family: 'lato', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --primary-color: rgb(200, 0, 0);
}

/* Dice game window */

.dice-game {
  position: relative;
  height: 96%;
  width: 96%;
  background: #fff;
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.6);
  display: flex;
}

/* BUTTONS AND DICE */

/* icons color */
.fas {
  color: var(--primary-color);
}

#new-game, .dice-box, #roll, #hold {
  position: absolute;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
  font-weight: 300;
  cursor: pointer;
  font-size: 2em;
}

#new-game {
  top: 10%;
}

.dice-box {
  top: 25%;
  cursor: initial;
}

#dice {
  font-size: 8em;
}

#roll {
  bottom: 30%;
}

#hold {
  bottom: 20%;
}

/* BOX PLAYER */

.box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.box .player-title {
  font-size: 5em;
  margin-top: 20%;
  margin-bottom: 0.5em;
}

.box .gscore {
  font-size: 7em;
  color: var(--primary-color);
  text-align: center;
}

.box .current-container {
  background: var(--primary-color);
  width: 20%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
}

.box .current-container p {
  font-weight: 300;
}

.player-left {
  background: rgba(50, 50, 50, 0.10);
}

.box .current-container .current-point {
  font-size: 2.5em;
  color: #fff;
}

.active {
  font-weight: 300 !important;
  position: relative;
}

.active::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  border-radius: 50%;
  right: -50px;
  top: 50%;
}

/* WINNER STATUS */

.winner {
  font-weight: 300;
  color: var(--primary-color);
}